.product-card__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}

.product-card {
  max-width: 150px;
  cursor: pointer;
  transition: all ease .2s;
}

.product-card:hover {
  transform: scale(1.05);
  transition: all ease .2s;
}

.sort-dropdown {
  margin-left: 30px;
}